
*.dll
*.pdb
*.cache
*.txt
*.props
*.targets
*.editorconfig
*.Up2Date
Store/bin/Debug/net8.0/cs2-store.deps.json
Store/obj/cs2-store.csproj.nuget.dgspec.json
Store/obj/Debug/net8.0/cs2-store.sourcelink.json
Store/obj/project.assets.json
Store_Modules/Store_Roulette/bin/Debug/net8.0/cs2-store-roulette.deps.json
Store_Modules/Store_Roulette/obj/cs2-store-roulette.csproj.nuget.dgspec.json
Store_Modules/Store_Roulette/obj/Debug/net8.0/cs2-store-roulette.sourcelink.json
Store_Modules/Store_Roulette/obj/project.assets.json
Store_Modules/Store_TestModule/bin/Debug/net8.0/cs2-store-testmodule.deps.json
Store_Modules/Store_TestModule/obj/cs2-store-testmodule.csproj.nuget.dgspec.json
Store_Modules/Store_TestModule/obj/Debug/net8.0/cs2-store-testmodule.sourcelink.json
Store_Modules/Store_TestModule/obj/project.assets.json
StoreApi/bin/Debug/net8.0/StoreApi.deps.json
StoreApi/obj/Debug/net8.0/StoreApi.sourcelink.json
StoreApi/obj/project.assets.json
StoreApi/obj/StoreApi.csproj.nuget.dgspec.json
StoreApi/obj/Debug/net8.0/StoreApi.AssemblyInfo.cs
Store_Modules/Store_TestModule/obj/Debug/net8.0/cs2-store-testmodule.AssemblyInfo.cs
Store_Modules/Store_Roulette/obj/Debug/net8.0/cs2-store-roulette.AssemblyInfo.cs
